{% load static %}

<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css"  href = "{% static 'weatherapp/style.css' %}" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class = "header">
    <h1 class = "text" > ForWeather </h1>
    <img class = "logo" src = "{% static 'weatherapp/logo.jpg' %}" alt = "The image was missing"> </img>
  </div>
  <form method = 'POST'>
    {% csrf_token %}
    <div class = "search">
       <!-- <input type ="text" class = "textfield" > -->{{ form.name }}
       <button class = "search_button" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </form>
    </body>
</html>
