{% load static %}

<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css"  href = "{% static 'weatherapp/style.css' %}" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class = "header">
    <h1 class = "text" > ForWeather </h1>
    <img class = "logo" src = "{% static 'weatherapp/logo.jpg' %}" alt = "The image was missing"> </img>
  </body>
  </div>
  <form method = 'POST'>
    {% csrf_token %}
    <div class = "search">
       <!-- <input type ="text" class = "textfield" > -->{{ form.name }}
       <button class = "search_button" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </form>

  <div class = "fields">
    <br /><p class = "city"> {{city_weather.city|capfirst}} </p>
    <p class = "temp"> {{city_weather.temprature}}&degC </p>
    <p class = "description"> {{city_weather.description|capfirst}} </p>
    <p class = "humidity"> Humidity : {{city_weather.humidity}}%  </p>
    <p class = "wind_speed"> Wind Speed : {{city_weather.wind_speed}} km/h </p>
    <p class = "pressure">Pressure : {{city_weather.presure}} hPa   </p>
    <p class = "date_time"> {{city_weather.date_time}} </p>
    <p class = "date"> {{city_weather.date}} </p>
    <img class = "icon" src = "http://openweathermap.org/img/w/{{city_weather.icon}}.png" />
  </div>
  <div class = "close_button">
    <a href = "{% url 'clear' %}" ><button class="btn"><i class="fa fa-trash"></i></button></a>
  </div>
  <div class = "{{msg_class}}">{{msg}}
  </div>
    </body>
</html>
